{
  "arrowParens": "always",
  "bracketSpacing": true,
  "endOfLine": "lf",
  "jsxSingleQuote": false,
  "packageManager": "yarn",
  "singleQuote": false,
  "printWidth": 100,
  "trailingComma": "es5"
}
